/* css styles */
.observable-embed {
  width: 100%;
  overflow: hidden;
  height: 700px;
}

.observable-embed iframe {
  width: 125%;
  height: 875px;
  border: none;
  transform: scale(0.8);
  transform-origin: top left;
}
